*{
    margin: 0;
    padding: 0;
    font-family: "Epilogue", sans-serif;
}

:root{
    --ff-heading: font-family: "Epilogue", sans-serif;
    --ff-texting: font-family: "open sans", sans-serif;

    --hue: 250;
    --bg-primary: hsl(var(--hue), 22%, 20%);
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-secondary: hsl(var(--hue), 50%, 80%);
    --fc-secondary: hsl(var(--hue), 50%, 80%);
    --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);

    --fs-body: 1.6rem;
     --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
     --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
     
}

body{
    font-family: var(--ff-texting);
    background-color: #28293e;
    color: #fff;
    font-size: var(--fs-body);
}

.page{
    max-width: clamp(33rem, 30rem + 60vw, 117rem);
    padding: 0 5rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

header {
    margin: 10rem 0 8rem;
    animation: topdown 700ms;
    text-align: center;
    font-family: var(--ff-heading);
}

header p{
    text-transform: uppercase;
    color: #bbb3e5;
    font-size: 1rem;
    line-height: 3.2rem;
    font-weight: 400;
}

header h1{
    font-size: 3.5rem;
    line-height: 4.8rem;
    font-weight: 800;
}

main {
    display: grid;
    gap: 3.2rem;
    
    padding-bottom: 10rem;
    animation: downtop 700ms 350ms backwards;
}

.card {
    position: relative;

    font-family: var(--ff-heading);
}

.card img{
    height: 41.6rem;
    object-fit: cover;
    filter: brightness(0.5);
    transition: all 200ms;
    border-radius: 6px;
}

.card img:hover {
    transform: scale(1.1);
    opacity: 0.4;
    cursor: pointer;
}

.card h2 span {
    background-color: var(--fc-primary);
    border-radius: 2rem;
    font-size: var(--fs-body);
    font-weight: 400;
    color: var(--fc-secondary-dark);
    padding: 0.3125rem 1.6rem;
    display: inline-flex;
    align-items: center;
    height: 3rem;
    width: fit-content;

}

.card h2{
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;

    font-size: var(--fs-heading-sm);
    font-weight: 800;

    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translatey(-15px);
    }

    100% {
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
        
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 930px) {
    main{
        grid-template-areas: "A B" 
        "C D";
    }

    main div:nth-child(1){
        grid-area: A;
    }

    main div:nth-child(2){
        grid-area: B;
    }

    main div:nth-child(3){
        grid-area: C;    
    }

    main div:nth-child(4){
        grid-area:D;
    }
}

@media (min-width: 700px){
    main {
        grid-template-columns: 1fr 1fr;
    }
}


.card {
    grid-column: 1 / -1; 
    
  
    display: flex;
    justify-content: center;
}

